/* legacy loading

.loadingScreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2em;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  z-index: 1293809;
}

*/

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1293809;
}

.loading svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#infinity-outline {
  fill: transparent;
  stroke-width: 4;
  stroke: #582a6b;
  stroke-dasharray: 3px, 300px;
  stroke-dashoffset: 0;
  animation: anim 3000ms linear infinite;
}

#infinity-bg {
  fill: transparent;
  stroke-width: 4;
  stroke: #424242;
  opacity: 0.2;
}

@keyframes anim {
  12.5% {
    stroke-dasharray: 42px, 300px;
    stroke-dashoffset: -33px;
  }
  43.75% {
    stroke-dasharray: 105px, 300px;
    stroke-dashoffset: -105px;
  }
  100% {
    stroke-dasharray: 3px, 300px;
    stroke-dashoffset: -297px;
  }
}
